
CardboardDemo.xcodeproj/project.xcworkspace/xcuserdata/andy.xcuserdatad/WorkspaceSettings.xcsettings

CardboardDemo.xcodeproj/xcuserdata/andy.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

CardboardDemo.xcodeproj/xcuserdata/andy.xcuserdatad/xcschemes/TestVR.xcscheme

CardboardDemo.xcodeproj/xcuserdata/andy.xcuserdatad/xcschemes/xcschememanagement.plist
